<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style>
        * {
            font-family: sans-serif !important;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #000000;
        }

        table,
        tr,
        td {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!-- Main table -->
    <table cellspacing="0" width="600" style="margin: 0 auto; border-spacing: 0;" align="center">
        <!-- Call -->
        <tr>
            <td height="0">
                <p>
                    <!-- Texto que aparece sob o assunto da mensagem, não vai aparecer no corpo -->
                    <font style="font-size: 0; height: 0">{subtitle}</font>
                </p>
            </td>
        </tr>
        <!-- Logo -->
        <tr style="text-align: center;">
            <td>
                <table cellspacing="0">
                    <tr align="center">
                        <td width="200"> </td>
                        <td width="200">
                            <table width="200" style="background-color: #e4002b00; text-align: center">
                                <tr width="200" style="background-color: #e4002b00; text-align: center">
                                    <td width="{logo_width}" style="background-color: #e4002b00; text-align: center">
                                        <a href="{logo_link}" width="{logo_width}" style="text-align: center;">
                                            <img width="{logo_width}" alt="Logo" style="background-color: #e4002b00; width: {logo_width}px; text-align: center;" src="{logo_imagem}" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="200"> </td>
                    </tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20"></td>
        </tr> <!-- Links -->
        <tr>
            <td>
                <table cellspacing="0">
                    <tr>
                        <!-- Spacing -->
                        <td width="25"></td>
                        <td width="550">
                            <table cellspacing="0" width="560" style="{estilo_container_categorias}">
                                <tr>
                                    <td height="5"></td>
                                </tr>
                                <tr style="text-align: center;">
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_1}">
                                            <font style="{estilo_categorias}">{categoria_1}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_2}">
                                            <font style="{estilo_categorias}">{categoria_2}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_3}">
                                            <font style="{estilo_categorias}">{categoria_3}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_4}">
                                            <font style="{estilo_categorias}">{categoria_4}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_5}">
                                            <font style="{estilo_categorias}">{categoria_5}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_6}">
                                            <font style="{estilo_categorias}">{categoria_6}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                </tr>
                            </table>
                        </td> <!-- Spacing -->
                        <td width="25"></td>
                    </tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20"></td>
        </tr> <!-- Image -->
        <tr>
            <td style="text-align: center;"> <a href="{link_promoção}"> <img style="text-align: center;" alt="{nome_promoção}" width="600" src="{imagem_promoção}" /> </a> </td>
        </tr> <!-- Products -->
        <!-- max: 2 lines, 13 characters each -->
        <tr>
            <td>
                <table cellspacing="0" style="border-collapse: collapse; background-color: {cor_de_fundo_modulo_produtos}" align="center" width="600">
                    <tr>
                        <td height="20"></td>
                    </tr> <!-- First line -->
                    <tr align="center">
                        <!-- left spacing -->
                        <td width="20"></td>
                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_1_link}"> <img alt="{produto_1_nome}" style="vertical-align: top;" width="150" src="{produto_1_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_1_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_1_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_1_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_1_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- spacing -->
                        <td width="55"></td>

                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_2_link}"> <img alt="{produto_2_nome}" style="vertical-align: top;" width="150" src="{produto_2_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_2_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_2_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_2_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_2_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- spacing -->
                        <td width="55"></td>

                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_3_link}"> <img alt="{produto_3_nome}" style="vertical-align: top;" width="150" src="{produto_3_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_3_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_3_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_3_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_3_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- right spacing -->
                        <td width="20"></td>
                    </tr> <!-- line spacing -->
                    <tr>
                        <td height="20"></td>
                    </tr>

                    <!-- Second line -->
                    <tr align="center">
                        <!-- left spacing -->
                        <td width="20"></td>
                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_4_link}"> <img alt="{produto_4_nome}" style="vertical-align: top;" width="150" src="{produto_4_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_4_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_4_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_4_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_4_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- spacing -->
                        <td width="55"></td>

                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_5_link}"> <img alt="{produto_5_nome}" style="vertical-align: top;" width="150" src="{produto_5_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_5_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_5_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_5_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_5_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- spacing -->
                        <td width="55"></td>

                        <!-- Product 1 -->
                        <td width="150">
                            <table cellspacing="0" style="border-spacing: 0ch; border-collapse:collapse; vertical-align: top">
                                <!-- product image -->
                                <tr style="border: 0px; border-collapse: collapse; vertical-align: top;">
                                    <td style="text-align: center; border-collapse: collapse;"> <a href="{produto_6_link}"> <img alt="{produto_6_nome}" style="vertical-align: top;" width="150" src="{produto_6_imagem}" /> </a> </td>
                                </tr> <!-- product Info -->
                                <tr style="text-align: center; border-spacing: 0">
                                    <td>
                                        <p style="font-size: 14px; color: #202020"> {produto_6_nome} </p>
                                        <p style="font-size: 16px; color:{cor_do_preço}; font-weight: 900"> R${produto_6_preço} </p>
                                    </td>
                                </tr> <!-- Button -->
                                <tr align="center">
                                    <td>
                                        <div>
                                            <!--[if mso]> <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{produto_6_link}" style="height:40px;v-text-anchor:middle;width:150px;" arcsize="8%" stroke="f" fillcolor="{button_color}"> <w:anchorlock/> <center> <![endif]--> <a href="{produto_6_link}" style="background-color:{button_color};border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">{call_to_action}</a>
                                            <!--[if mso]> </center> </v:roundrect> <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- right spacing -->
                        <td width="20"></td>
                    </tr> <!-- line spacing -->
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td>
                <table cellspacing="0" width="600" style="background-color: {cor_de_fundo_modulo_footer};">
                    <!-- Top Spacing -->
                    <tr height="20"></tr> <!-- content row -->
                    <tr>
                        <!-- left spacing -->
                        <td width="20"></td> <!-- content -->
                        <td width="560">
                            <table width="560" style="font-size: 12px;color: #888">
                                <tr>
                                    <td>
                                        <p style="text-align: center">* Ofertas válidas no site por tempo limitado. Desconto aplicado no carrinho</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10">

                                    </td>
                                </tr>
                                <!-- payment -->
                                <tr>
                                    <td>
                                        <table width="500">
                                            <tr>
                                                <td width="100">
                                                    <p> Formas de pagamento </p>
                                                </td>
                                                <td width="20"> <img alt="Crédito" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/creditcard.png" /> </td>
                                                <td width="10"></td>
                                                <td width="20"> <img alt="Boleto" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/billet.png" /> </td>
                                                <td width="20"></td>
                                                <td width="1px" style="background-color: #888;"></td>
                                                <td width="20"></td>
                                                <td>
                                                    <p>Siga-nos nas redes</p>
                                                </td>
                                                <td width="20"> <a href="{facebook_da_empresa}"><img alt="Facebook" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/facebook.png" /></a> </td>
                                                <td width="20"></td>
                                                <td width="20"> <a href="{instagram_da_empresa}"><img alt="Instagram" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/instagram.png" /></a> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr> <!-- Policy -->
                                <tr>
                                    <td>
                                        <p style="color: #777">Adicione o e-mail <b style="color: {cor_da_empresa};font-weight:900">{email_da_empresa}</b> ao seu catálogo de endereços</p>
                                        <p style="color: #777"> Nós respeitamos a sua privacidade e somos contra o spam na rede. Os preços são válidos enquanto durarem os nosso estoques e estão sujeitos a alterações sem aviso prévio. O uso de cupons promocionais é limitado pelo CPF de cada usuário e os vouchers não são cumulativos. A {nome_da_empresa} usa tecnologia segura para garantir que suas informações de cartão de crédito não sejam comprometidas. As informações são criptografadas e nunca armazenadas. </p>
                                    </td>
                                </tr> <!-- unsubscribe -->
                                <tr>
                                    <td>
                                        <a href="{unsubscribe_url}" style="text-align: center; text-decoration: none; color: #777777; font-size: 12px; text-align: center "> Desinscrever-se </a>
                                    </td>
                                </tr>
                            </table>
                        </td> <!-- right spacing -->
                        <td width="20"></td>
                    </tr> <!-- Bottom spacing -->
                    <tr height="20"></tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20">
            </td>
        </tr>
    </table>
</body>

</html>