<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style>
        * {
            font-family: sans-serif !important;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #000000;
        }

        table,
        tr,
        td {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!-- Main table -->
    <table cellspacing="0" width="600" style="margin: 0 auto; border-spacing: 0;" align="center">
        <!-- Call -->
        <tr>
            <td height="0">
                <p>
                    <!-- Texto que aparece sob o assunto da mensagem, não vai aparecer no corpo -->
                    <font style="font-size: 0; height: 0">{subtitle}</font>
                </p>
            </td>
        </tr>
        <!-- Logo -->
        <tr style="text-align: center;">
            <td>
                <table cellspacing="0">
                    <tr align="center">
                        <td width="200"> </td>
                        <td width="200">
                            <table width="200" style="background-color: #e4002b00; text-align: center">
                                <tr width="200" style="background-color: #e4002b00; text-align: center">
                                    <td width="{logo_width}" style="background-color: #e4002b00; text-align: center">
                                        <a href="{logo_link}" width="{logo_width}" style="text-align: center;">
                                            <img width="{logo_width}" alt="Logo" style="background-color: #e4002b00; width: {logo_width}px; text-align: center;" src="{logo_imagem}" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="200"> </td>
                    </tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20"></td>
        </tr> <!-- Links -->
        <tr>
            <td>
                <table cellspacing="0">
                    <tr>
                        <!-- Spacing -->
                        <td width="25"></td>
                        <td width="550">
                            <table cellspacing="0" width="560" style="{estilo_container_categorias}">
                                <tr>
                                    <td height="5"></td>
                                </tr>
                                <tr style="text-align: center;">
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_1}">
                                            <font style="{estilo_categorias}">{categoria_1}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_2}">
                                            <font style="{estilo_categorias}">{categoria_2}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_3}">
                                            <font style="{estilo_categorias}">{categoria_3}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_4}">
                                            <font style="{estilo_categorias}">{categoria_4}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_5}">
                                            <font style="{estilo_categorias}">{categoria_5}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                    <!-- Categoria -->
                                    <td>
                                        <a href="{link_categoria_6}">
                                            <font style="{estilo_categorias}">{categoria_6}</font>
                                        </a></td>
                                    <!-- spacing -->
                                    <td width="10"></td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                </tr>
                            </table>
                        </td> <!-- Spacing -->
                        <td width="25"></td>
                    </tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20"></td>
        </tr> <!-- Image -->
        <tr>
            <td style="text-align: center;"> <a href="{link_promoção}"> <img style="text-align: center;" alt="{nome_promoção}" width="600" src="{imagem_promoção}" /> </a> </td>
        </tr>


        <!-- Footer -->
        <tr>
            <td>
                <table cellspacing="0" width="600" style="background-color: {cor_de_fundo_modulo_footer};">
                    <!-- Top Spacing -->
                    <tr height="20"></tr> <!-- content row -->
                    <tr>
                        <!-- left spacing -->
                        <td width="20"></td> <!-- content -->
                        <td width="560">
                            <table width="560" style="font-size: 12px;color: #888">
                                <tr>
                                    <td>
                                        <p style="text-align: center">* Cupom não cumulativo</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10">

                                    </td>
                                </tr>
                                <!-- payment -->
                                <tr>
                                    <td>
                                        <table width="500">
                                            <tr>
                                                <td width="100">
                                                    <p> Formas de pagamento </p>
                                                </td>
                                                <td width="20"> <img alt="Crédito" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/creditcard.png" /> </td>
                                                <td width="10"></td>
                                                <td width="20"> <img alt="Boleto" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/billet.png" /> </td>
                                                <td width="20"></td>
                                                <td width="1px" style="background-color: #888;"></td>
                                                <td width="20"></td>
                                                <td>
                                                    <p>Siga-nos nas redes</p>
                                                </td>
                                                <td width="20"> <a href="{facebook_da_empresa}"><img alt="Facebook" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/facebook.png" /></a> </td>
                                                <td width="20"></td>
                                                <td width="20"> <a href="{instagram_da_empresa}"><img alt="Instagram" width="40" src="http://mautic.aionsolution.com.br/media/images/Images/instagram.png" /></a> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr> <!-- Policy -->
                                <tr>
                                    <td>
                                        <p style="color: #777">Adicione o e-mail <b style="color: {cor_da_empresa};font-weight:900">{email_da_empresa}</b> ao seu catálogo de endereços</p>
                                        <p style="color: #777"> Nós respeitamos a sua privacidade e somos contra o spam na rede. Os preços são válidos enquanto durarem os nosso estoques e estão sujeitos a alterações sem aviso prévio. O uso de cupons promocionais é limitado pelo CPF de cada usuário e os vouchers não são cumulativos. A {nome_da_empresa} usa tecnologia segura para garantir que suas informações de cartão de crédito não sejam comprometidas. As informações são criptografadas e nunca armazenadas. </p>
                                        <!-- <p style="color: #777"> {nome_da_empresa} - {endereço_da_empresa} - CNPJ: {cnpj_da_empresa} </p> -->
                                    </td>
                                </tr>
                            </table>
                        </td> <!-- right spacing -->
                        <td width="20"></td>
                    </tr> <!-- Bottom spacing -->
                    <tr height="20"></tr>
                </table>
            </td>
        </tr> <!-- Spacing -->
        <tr>
            <td height="20">
            </td>
        </tr>
    </table>
</body>

</html>